$borderRadius: 10px;
$paperShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

$teal: #00adb5;
$black: #222831;
$grey: #eeeeee;
$dark_grey: #393e46;
$white: #ffffff;
$bgGrey: $grey;
