.main {
  min-height: 100vh;
}

.main_container {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // border: 6px solid red;
}

.main_content {
  border: 2px solid red;
}
